body {
  background: transparent !important;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-display: block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.05em !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rounded-4 {
  border-radius: 0.4rem !important;
}

.rounded-5 {
  border-radius: 0.5rem !important;
}

.rounded-10 {
  border-radius: 1rem !important;
}

.rounded-20 {
  border-radius: 2rem !important;
}

.rounded-30 {
  border-radius: 3rem !important;
}

.rounded-40 {
  border-radius: 4rem !important;
}

.rounded-50 {
  border-radius: 5rem !important;
}

.border-dashed {
  border-style: dashed !important;
}

.border-dotted {
  border-style: dotted !important;
}
.bg-morph {
  box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}

.bg-morph-inset {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.z-1 {
  z-index: 100 !important;
}

.z-2 {
  z-index: 200 !important;
}

.z-3 {
  z-index: 300 !important;
}

.z-4 {
  z-index: 400 !important;
}

.z-5 {
  z-index: 500 !important;
}

.z-6 {
  z-index: 600 !important;
}

.z-7 {
  z-index: 700 !important;
}

.z-8 {
  z-index: 800 !important;
}

.z-9 {
  z-index: 900 !important;
}

.z-10 {
  z-index: 1000 !important;
}

.z-11 {
  z-index: 1100 !important;
}

.z-12 {
  z-index: 1200 !important;
}

.z-13 {
  z-index: 1300 !important;
}

.z-14 {
  z-index: 1400 !important;
}

.z-15 {
  z-index: 1500 !important;
}

.star-cntr {
  border-radius: 1rem !important;
  border: 1px solid #dee2e6!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.bg-g-primary {
  background-color: #eaf1fb !important;
}